<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ecommerce Backend</title>
</head>
<body>

  <header>
    <h1>Backend Ecommerce</h1>
    <nav>
      <a href="/products">Productos</a>
    </nav>
    <hr>
  </header>

  {{{body}}}

  <hr>
  <footer>
    <p>Entrega Final Backend</p>
  </footer>

</body>
</html>