<h2>Carrito</h2>

{{#if products.length}}
  <ul>
    {{#each products}}
      <li>
        <strong>{{this.product.title}}</strong>
        <br>
        Precio: ${{this.product.price}}
        <br>
        Cantidad: {{this.quantity}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}

<hr>
<a href="/products">Volver a productos</a>